.Header {
  padding: 0.5em;
  background: #444;
  color: #fff;
}

.Header:after {
  content: '';
  display: table;
  clear: both;
}

.Header > a {
  float: left;
  font-weight: 700;
  line-height: 2;
  text-decoration: none;
}

.Header > nav {
  float: right;
}

.Header > nav li {
  display: inline-block;
  margin-left: 0.5em;
}

.Header > nav a {
  padding: 0.5em;
  font-weight: 700;
  line-height: 1;
}

.Header > nav a:hover,
.Header > nav a:focus {
  background: rgba(#000, 0.25);
  text-decoration: none;
}
